[project]
name = "python-playground"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.121.3",
    "ipykernel>=7.1.0",
    "uvicorn[standard]>=0.38.0",
]
